*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 35, 65);
  color: #ddd;
  text-align: center;
  font-family: sans-serif;
  margin: 0em;
  padding: 0em;
}

.blurred {
  filter: blur(3px);
  overflow: hidden;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.header-left,
.header-right {
  margin: 1.5em 3em 0.5em 3em;
}

.header-left-mainlabel,
.header-right-mainlabel {
  font-size: 2.25em;
  margin: 0.1em;
}

.header-right-icon {
  margin: 1em;
}

.header-left-iconvalue {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-left-icon {
  font-size: 5em;
  margin: 0.25em;
}

.header-left-value {
  font-size: 2.5em;
  margin: 0.25em;
}

.header-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.header-right-grid-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.8em;
}

.header-right-value {
  font-size: 1.75em;
}

/* DAYS */

.section-days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}

.section-day-card {
  border: white solid 2px;
  border-radius: 10%;
  margin: 0.2em;
  padding: 0.2em;
  width: 100px;
  height: 120px;
  margin: 7.5px;
  padding: 5px;
}

.section-day-card-temp-value {
  font-size: 1.8em;
  margin: 3px 0px;
}

.section-day-card-icon {
  font-size: 2.75em;
  margin: 3px 0px;
}

.section-day-card-label {
  font-size: 1em;
  margin: 3px 0px;
}

/* HOURS */

.section-hours {
  width: 100%;
  text-align: center;
  border-spacing: 0; /* makes table connected */
  margin: 1.25em 0em;
}

.section-hours-row:nth-child(2n) {
  background-color: #313153;
}

.section-row-icon {
  font-size: 1.95em;
}

.section-hours-value {
  font-size: 1.65em;
}

@media only screen and (max-width: 850px) {
  .header-left,
  .header-right {
    margin: 0em;
    padding: 0em;
  }
}
